
@{
    ViewData["Title"] = "Internet";
}
<div class="container my-5">
    <h2 class="text-center mb-4">Nuestros Paquetes</h2>

    <!-- Sección de Paquetes -->
    <div id="packagesList" class="row">
        <!-- Aquí se generarán los paquetes dinámicamente -->
    </div>
</div>

<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<script src="js/Paquete.js"></script>


