
@{
    ViewData["Title"] = "Nosotros Page";
}

<section class="informacion-1 py-5">
    <div class="container">
        <h2 class="text-center mb-4">Nuestra Historia</h2>
        <div class="row">
            <div class="col-md-6">
                <p class="lead">Nuestra empresa comenzó hace más de 5 años con una visión clara: conectar a las personas de manera más rápida y eficiente con el mundo digital. A lo largo de los años, hemos evolucionado para mantenernos al frente de la industria, adoptando nuevas tecnologías y expandiendo nuestros servicios.</p>
                <p class="lead">Desde nuestra fundación, hemos crecido para convertirnos en uno de los líderes en telecomunicaciones. Nos hemos comprometido a ofrecer un servicio de calidad a nuestros clientes, brindando soluciones innovadoras y seguras en cada paso del camino.</p>
            </div>
            <div class="col-md-6">
                <img src="https://www.mypress.mx/img/articulos/5714.jpg" class="img-fluid mb-4" alt="Nuestra historia">
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-6">
                <img src="https://tpempresas.com/wp-content/uploads/Internet-Empresarial-4.jpg" class="img-fluid mb-4" alt="Nuestra misión">
            </div>
            <div class="col-md-6">
                <p class="lead">Nuestra misión siempre ha sido ofrecer soluciones tecnológicas a medida que las necesidades de nuestros clientes cambian y la tecnología avanza. Nos enfocamos en la innovación y en mantener una conexión estable, rápida y segura para todos.</p>
                <p class="lead">Contamos con un equipo dedicado de expertos que monitorean continuamente nuestros sistemas para asegurar que nuestros servicios siempre estén a la altura de las expectativas.</p>
            </div>
        </div>

        <div class="text-center mt-5">
            <a class="nav-link" asp-controller="Paquetes" asp-action="Index1" class="btn btn-outline-dark btn-lg">Conoce más sobre nuestros servicios</a>
        </div>
    </div>
</section>

