@model IEnumerable<PIA_PWEB.Models.dbModels.Opinione>

@{
    ViewData["Title"] = "Index";
}
<div class="container my-5">
    <h2 class="text-center mb-4">Gestión de Opiniones</h2>
    <table id="opinionsTable" class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Opinión</th>
                <th>Anónimo</th>
                <th>Usuario</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <!-- Aquí se generarán las filas dinámicamente con JavaScript -->
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.IdUsuarioNavigation.Id)</td>
                    <td>@Html.DisplayFor(modelItem => item.Opinion)</td>
                    <td>@Html.DisplayFor(modelItem => item.Anonimo)</td>
                    <td></td>
                    <td>
                        <a asp-action="Delete" asp-route-id="@item.IdOpinion"><button class="btn btn-danger btn-sm delete-opinion">Delete</button></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


